.square {
    width: 100px;
    height: 100px;
    background-color: black;
}

.rectangle {
    width: 150px;
    height: 100px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}